@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .cardWrap0a1{
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .gradient-overlapping-cardai{
        background: linear-gradient(45deg, #34292994, #5c58581f);
    }
}