@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  .shadow-btn {
    box-shadow: 8px 6px 3px black;
    transition: ease-in-out;
  }
  .shadow-btn:hover {
    box-shadow: 10px 7px 5px black !important;
  }

  .shadow-btn:active {
    box-shadow: 8px 6px 3px rgb(0, 0, 0) !important;
  }
  .marquee{
    animation: marqueeAnimate 20s linear infinite;
  }
  .maniquee-container::before{
    background: linear-gradient(to right  #e5e5e580, #f9f3f349);
    @apply  absolute top-0 left-0 w-2/12 h-full;
    background: linear-gradient(to right, rgba(95, 56, 9, 0.101), rgba(118, 42, 1, 0.142));
  }
  @keyframes marqueeAnimate {
    from {
      transform: translateX(0);
    }to{
      transform: translateX(-100%);
    }
  }

}
