@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  .shadow-btn {
    box-shadow: 8px 6px 3px black;
  }
  .shadow-btn:hover {
    box-shadow: 8px 6px 5px black !important;
  }
  .shadow-btn:active {
    box-shadow: 8px 6px 3px black !important;
  }
}
