@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .maniquee-container::before{
    content:"";
    background: linear-gradient(45deg  #fcfeff27, #fbfdff18);
    @apply  absolute top-0 left-0 w-1/12 h-full;
    background: linear-gradient(45deg, rgb(241 241 241 / 82%), rgb(228 228 228));
    filter: blur(10px);
  }
  .maniquee-container::after{
    content:"";
    @apply  absolute top-0 right-0 w-1/12 h-full;
    background: linear-gradient(-45deg, rgb(241 241 241 / 82%), rgb(228 228 228));
    filter: blur(10px);

  }

}
