@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .glassmorphism {
    backdrop-filter: blur(14px) saturate(163%);
    -webkit-backdrop-filter: blur(14px) saturate(163%);
    background-color: rgba(62, 62, 64, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    -webkit-box-shadow: -1px 10px 24px -8px rgba(59, 57, 59, 1);
    -moz-box-shadow: -1px 10px 24px -8px rgba(59, 57, 59, 1);
    box-shadow: -1px 10px 24px -8px rgba(59, 57, 59, 1);
  }
  .ads-contentua719 {
    background: linear-gradient(
        to right,
        rgba(95, 56, 9, 0.101),
        rgba(118, 42, 1, 0.142)
      ),
      url("../../../../../assets/images/markus-spiske-wL7pwimB78Q-unsplashCopy.jpg")
        center no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @apply backdrop-grayscale;
  }
  .shoe-image {
    filter: drop-shadow(2px 17px 6px rgb(31, 31, 31));
    @apply aspect-square
  }
  .glass-cardImage {
    background-position: center;
    background-size: cover;
  }
}
