@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .glassmorphism {
    backdrop-filter: blur(8px) saturate(5%);
    -webkit-backdrop-filter: blur(8px) saturate(5%);
    background-color: rgba(224, 224, 224, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .ads-contentua719 {
    background: linear-gradient(
        to right,
        rgba(95, 56, 9, 0.101),
        rgba(118, 42, 1, 0.142)
      ),
      url("../../../../../assets/images/markus-spiske-wL7pwimB78Q-unsplashCopy.jpg")
        center no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @apply backdrop-grayscale;
  }
  .shoe-image{
    filter: drop-shadow(2px 17px 6px rgb(31, 31, 31));
  }
  .glass-cardImage {
    background-position: center;
    background-size: cover;
  }
}
