@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ms-star {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    @apply mask-star-2;
  }
  .mask-heart {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    @apply mask-heart;
  }
  .rating input {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    @apply max-md:size-5 size-6 bg-yellow-300;
  }
  .rating{
    @apply  inline-flex max-md:gap-x-1.5 gap-x-2
  }
  .rating input:D ~ input, .rating input[aria-checked="true"] ~ input {
    --tw-bg-opacity: 1!important;
    opacity: 1!important;
}
  .rating input:not(:checked){
    @apply bg-neutral-200
  }
}
