@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");
/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*  Inconsolata  monospace */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
/* Cursive */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
}

@layer base {
  ::selection {
    @apply bg-orange-600 text-slate-100;
  }
  ::-moz-selection {
    @apply bg-orange-600 text-slate-100;
  }
  
  * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    @apply antialiased text-[16px] text-assets-dark-text
  }
  .font-arial{
    font-family: "Roboto", Helvetica, sans-serif;
  }
  .load-spinner {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) #858383;
    border-image: initial;
    display: inline-block;
    animation: 0.75s linear 0s infinite normal both running react-spinners-ClipLoader-clip;
}

  html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-align: y mandatory;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    @apply font-sans;
  }
  .horizontal-text-divider {
    @apply z-[1] w-full relative flex items-center justify-center text-center after:content-[""] after:w-full after:absolute after:top-1/2 after:left-0 after:h-[1px] after:bg-neutral-500
    before:content-[""] after:-z-[1] before:-z-[1] before:w-full before:absolute before:top-1/2 before:right-0 before:h-[1px] before:bg-neutral-500;
  }
}
@layer components {
}
