@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reddit Sans */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/* Robot Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Cursive
 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
}

@layer base{
    ::selection{
        @apply bg-orange-500 text-slate-100
    }    
    html{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    @apply font-sans 
}
}
@layer components{
  
}